body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "IBM Plex Mono", monospace;
}

html{
  scroll-behavior: smooth !important;
}
/* ----------NAVBAR----------- */
.nav-link {
  padding: 0 1rem !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.nav-link:hover{
  color: #00baf1 !important;
}

/* ------------HERO---------- */

/* ----sphere canvas----- */
#nCanvasRender {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100vh;
}

.header {
  margin-top:-20vh;
  height: 100vh !important;
}
.headline {
  z-index: 2000 !important;
  text-align: center;
}

.headline h1 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0.75rem auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.headline h4 {
  color: #ecd92c;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00baf1;
  }
}

.headline span {
  font-weight: bold;
  color: #00baf1;
}

/* -----------PROBLEM STATEMENT-------- */

.problem-content {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.problem-content h5 {
  color: #00baf1;
  margin: 2rem 0;
  text-align: center;
}

.problem-content p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.875rem;
}

/* ------------PRIZES--------- */
.prizes, .schedule{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.prizes .col-3 {
  border: 3px solid white;
}

.prizes p{
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.25rem 0;
}

.register h4, .register h5 {
  font-weight:300;
}


#rules, #judge {
  background-image: url("./assets/img/cool-img.png");
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ecd92c;
  border-radius: 10px;
}
::scrollbar-thumb{
  background: #ecd92c;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}